# Игнорировать все .DS_Store файлы
.DS_Store

# Игнорировать директорию .idea и все её содержимое
.idea/

# Игнорировать все файлы в директориях __pycache__
__pycache__/

# Игнорировать все временные файлы и директории
*.pyc
*.pyo
*.swp
*.swo

# Игнорировать все временные файлы, созданные IDE
*.iml
*.iws
*.log
*.tmp

# Игнорировать все временные файлы, созданные при сборке
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

